
#contentContainer {
  position: absolute;
}

#TopText {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align:center;
  float: top;
}

#ImgContainer {
  position: relative;
}

#BottomText {
  top: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align:center;
}

#prev-button {
  display: none;
  position: absolute;
  top: 48%;
  left: 10%;
}

#next-button {
  display: block;
  position: absolute;
  top: 48%;
  left: 85%;
}

button {
  background-color: rgb(192, 70, 70);
  color: white;
  padding: 1vw 1.5vw;
  text-align: center;
  cursor: pointer;
}